* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  margin: 0;
  background-color: #0B2434;
}

.StartScreen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;

  color: white;

  font-size: 1.5rem;
}

.StartScreen--button {
  width: 200px;
  height: 60px;
  border-radius: 15px;
  
  color: black;
  background-color: #D0EFB1;

  font-size: 1.5rem;
  cursor: pointer;
}

.QuizScreen {
  width: 70%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: left;
  text-align: center;

  color: white;

  font-size: 1.3rem;
}

.QuizScreen--button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  font-size: 1.1rem;

  cursor: pointer;
}

.Question {
  text-align: left;
}

.Question--title {

}

.Question--answers-container {
  display: flex;
  margin-top: -10px;
  margin-left: -20px;
}

.Question--answer {
  margin-left: 20px;
  display: inline-block;
  text-align: center;
  
  background-color: white;
  border: 0.5px solid #4D5B9E;
  border-radius: 7px;
  padding: 3px 10px;
  font-size: 1rem;

  cursor: pointer;
}

.Question--answer-selected {
  margin-left: 20px;
  display: inline-block;
  text-align: center;
  
  background-color: wheat;
  border: 0.5px solid #4D5B9E;
  border-radius: 7px;
  padding: 3px 10px;
  font-size: 1rem;

  cursor: pointer;
}

hr {
  margin-left: -5px;
  margin-top: 15px;
  margin-bottom: 15px;
}