/* Custom, iPhone Retina */ 
/* Extra Small Devices, Phones */ 
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .StartScreen {
    font-size: 0.75rem;
  }
  
  .StartScreen--button {
    margin-top: 15px;
  
    width: 150px;
    height: 50px;
  
    font-size: 0.75rem;
  }

  .QuizScreen {
    top: 60%;
    margin-top: 20px;
    font-size: 0.65rem;
  }

  .QuizFooter {
    gap: 50px;
  }

  .QuizScreen--text {
    margin-top: 3.5px;
  }
  
  .QuizScreen--button {
    width: 150px;
    height: 50px;
    font-size: 0.55rem;
  }

  .Question--answers-container {
    margin-top: -5px;
    margin-left: -10px;
  }

  .Question--answer {
    margin-left: 10px;

    padding: 3px 10px;
    font-size: 0.5rem;
  }

  hr {
    margin-left: -2.5px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
  }
}

/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
@media only screen and (min-width : 992px) {
  .StartScreen {
    font-size: 1.5rem;
  }
  
  .StartScreen--button {
    margin-top: 30px;
  
    width: 200px;
    height: 60px;
  
    font-size: 1.5rem;
  }

  .QuizScreen {
    top: 50%;
    margin-top: 40px;
    font-size: 1.3rem;
  }

  .QuizFooter {
    gap: 100px;
  }

  .QuizScreen--text {
    margin-top: 7px;
  }
  
  .QuizScreen--button {
    width: 150px;
    height: 40px;
    font-size: 1.1rem;
  }

  .Question--answers-container {
    margin-top: -10px;
    margin-left: -20px;
  }

  .Question--answer {
    margin-left: 20px;

    padding: 3px 10px;
    font-size: 1rem;
  }

  hr {
    margin-left: -5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  margin: 0;
  background-color: #0B2434;
}

.StartScreen {
  height: 100vh;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;

  color: white;
}

.StartScreen--button {
  border-radius: 15px;
  
  color: black;
  background-color: #D0EFB1;

  cursor: pointer;
}

.StartScreen--button:focus,
.QuizScreen--button:focus,
.Question--answer:focus {
  outline: none;
}

.StartScreen--button:active,
.QuizScreen--button:active,
.Question--answer:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.QuizScreen {
  width: 70%;
  height: 100vh;

  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: left;
  text-align: center;

  color: white;
}

.QuizFooter {
  display: inline-flex;
}

.QuizScreen--button {
  color: black;

  border-radius: 10px;

  cursor: pointer;
}

.Question {
  text-align: left;
}

.Question--title {

}

.Question--answers-container {
  display: flex;
}

.Question--answer {
  display: inline-block;
  text-align: center;
  
  background-color: white;
  color: black;
  border: 0.5px solid #4D5B9E;
  border-radius: 7px;

  cursor: pointer;
}

.selected {
  background-color: wheat;
  cursor: pointer;
}

.correct {
  background-color: #94D7A2;
}

.wrong {
  background-color: #F8BCBC;;
}

.defaultCursor {
  cursor: default;
}